/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: white;
  color: #dd43a4; /* dark purple text */
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: #3a0c2e; /* light purple */
}

.nav-portfolio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-portfolio div {
  height: 40px;
  width: 40px;
  background: white;
  color: #dd43a4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.portfolio-text {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.portfolio-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.portfolio-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.portfolio-links a:hover {
  text-decoration: underline;
  color: #dd43a4;
}

.hamburger {
  display: none;
}

/* HERO SECTION */
.hero {
  min-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  background: url("https://images.unsplash.com/photo-1487528278747-ba99ed528ebc?auto=format&fit=crop&w=1500&q=60") center/cover no-repeat;
  filter: brightness(0.8);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(221, 67, 164, 0.55); /* purple transparent overlay */
  backdrop-filter: blur(3px); /* classy blur */
}

.hero-content {
  position: relative;
  max-width: 700px;
  z-index: 10;
  color: white;
  margin-top: 60px;
}

.sub-text {
  letter-spacing: 3px;
  font-size: 14px;
  opacity: 0.95;
  font-weight: 500;
}

.main-text {
  font-size: 50px;
  font-weight: 900;
  margin: 15px 0;
  line-height: 1.05;
}

.description {
  font-size: 19px;
  opacity: 0.96;
  margin-bottom: 35px;
  line-height: 1.5;
  color: #fff;
}

.cta-section {
  position: relative;
  z-index: 10;
}

.cta-button {
  padding: 16px 32px;
  background: white;
  border: none;
  border-radius: 40px;
  color: #dd43a4;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}

.cta-button:hover {
  background: #dd43a4;
}

/* SERVICES SECTION */
.services-overview {
  padding: 60px 40px;
}

.services-heading {
  font-size: 34px;
  text-align: center;
  margin-bottom: 25px;
  color: #dd43a4;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
}

.service-card {
  background: #f3e8ff;
  border-radius: 15px;
  padding: 20px;
}

.service-card h3 {
  color: #dd43a4;
  margin-bottom: 10px;
  font-size: 20px;
}
